In [64]:
# libraries
import pickle
import pandas as pd
from string import whitespace,punctuation,digits,maketrans
import re
from unidecode import unidecode

In [2]:
with open('labeled_dates.pk1', 'r') as picklefile:
    label_df = pickle.load(picklefile)

In [4]:
with open('date_predictions.pk1', 'r') as picklefile:
    pred_label_df = pickle.load(picklefile)

In [5]:
label_df.head()

         symbol                     line        type
0  C.476.1930.X            C.476.1930.X.  symbolline
1  C.476.1930.X       September6th,1930,    dateline
2  C.476.1930.X         LEAGUEOFNATIONS.       other
3  C.476.1930.X  CONTRIBUTIONSINARREARS.       other
4  C.476.1930.X  theCubanRepresentative.       other

In [17]:
pred_label_df.head()

          symbol             line predictions
0  C.234.1930.II    IJEOFNATIONS.       other
1  C.234.1930.II       PRELIMIlNi       other
2  C.234.1930.II   C.234.1930.II.  symbolline
3  C.234.1930.II          Geneva,    dateline
4  C.234.1930.II  April30th,1930,    dateline

In [20]:
pred_label_df.columns=['symbol','line','type']

In [21]:
label_dateline_df = label_df[label_df['type'] == 'dateline']
pred_dateline_df = pred_label_df[pred_label_df['type'] == 'dateline']

In [22]:
datelabels_df = label_dateline_df.append(pred_dateline_df, ignore_index=True)

In [80]:
datelabels_df.sort('symbol')

/Users/johnkeating/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,symbol,line,type
7820,C-258.1927.III,"Hay25th,1927;",dateline
596,C-3-M-3-1945-XI,"0ftheleague.Geneva.January16th,1945,",dateline
4811,C-44-1927-IV_EN,"Feb-10th,19270",dateline
6071,C.1.1925.II,"January15th,1925.",dateline
1518,C.1.1926,"January4th,1926.",dateline
10141,C.1.1930.XI,"GENEVA.Leoember50th,1959,",dateline
1985,C.1.1933.I,"January3rd,1933'",dateline
27,C.1.1935,"January5th,1935",dateline
45,C.1.M.1.1926,"January4th,1926.",dateline
10145,C.1.M.1.1932.VII,"January2nd,1932.",dateline
10144,C.1.M.1.1932.VII,"Geneva,",dateline
6737,C.1.M.1.1934.IV,"Februarylst,193-J..",dateline
7008,C.1.M.1.1936.XI,partiestothe1925and1931,dateline
3719,C.1.M.1.1938.XI,"January8th,1938.",dateline
1301,C.1.M.1.1941.XI,"January8th,1941,",dateline
2594,C.1.M.1.1943.XI,"January27th,1943.",dateline
10184,C.1.M.1.1944.II.A,TPIE1943,dateline
2615,C.1.M.1.1946,"January4th,1946,",dateline
1197,C.1.M.1.1947,"January2nd,1947.",dateline
7470,C.1.M.8.1922.VII,"January11th,19223",dateline
7469,C.1.M.8.1922.VII,"Geneva,",dateline
307,C.10.(a).1938.II.A,"January26th,1938.",dateline
9169,C.10.(a).M.7.(a).1929.XI,"Geneva,,",dateline
2922,C.10.1923.II,"*""*Geneva.JanuarylOt.h.1923.",dateline
8858,C.10.1926,"Gureve,January13th1986,",dateline
6119,C.10.1930.II,"January7th,19",dateline
2308,C.10.1935.I,"January7th,1535.",dateline
1400,C.10.1938.II.A,"January4th,1938.",dateline
4541,C.10.1939.X,"January5th,1939.",dateline
5271,C.10.M.10.1946.X,"March27th,1946.",dateline
...,...,...,...
2982,C.986.M.548.1931.VII,"December17th,1931.",dateline
1450,C.988.1931.I,December2ord1951>>,dateline
1834,C.99.1924.VII,"March6th,1924.",dateline
8531,C.99.1926.VIII,"C/enove,le1ermars1926.",dateline
8404,C.99.1929.VIII,"March4th,1929.",dateline
8403,C.99.1929.VIII,"Geneva,",dateline
5336,C.99.1931.II,"January20th,1931.",dateline
6628,C.99.1933.X,"February2nd,1933",dateline
243,C.99.1935.I,February15th1935,dateline
5751,C.99.1938.VII,"March31st,1938.",dateline
3367,C.99.M.34.1934.VIII,"January16th,1934.",dateline
6467,C.99.M.40.1936.II.A,"March17th,1936.",dateline
4138,C.99.M.51.1937.XI,"March9th,1937.",dateline
7001,C.99.M.99.1945.V,GENEVA,dateline
6209,C.991.1931.I,"Genera,December23rd,193",dateline
1537,C.992.1931.I,"December23rd,1931",dateline
1864,C.993.1931.I,"December23rd,1931,,",dateline
5742,C.994.1931.IX,"December23rd,1931.",dateline
768,C.994.M.562.1931.IX,"December31st,1931.",dateline
5206,C.995.M.552.1931.II.A,"December18th,1931.",dateline
2759,C.996.1931.I,"December21st,1531,",dateline
10091,C.998.M.554.1931.VII,"December31st,1931<<",dateline
7927,C.999.M.555.1931.V,"W'December21st,1931.",dateline
2538,C.II.M.6.1925.VIII,"December20th,1924.",dateline
9115,C.III.1923,"January26th,1923,",dateline
6210,C371.M.157.1930.XI,"July8th,1930.",dateline
9610,C436.1926.IX,"G-eneva,August3rd1926.",dateline
8192,C647.1921.VI,"GrEiiuVA,September14th.1922",dateline
6973,C679.1922.VII,"Geneva,",dateline
6974,C679.1922.VII,September28th1922.,dateline

In [24]:
test_month_1 = 'December7th1925.'

In [36]:
test_month_1.split(',')

['December7th1925.']

In [27]:
test_month_2 = 'Geneva.September2nd,1935.'

In [35]:
test_month_2.split(',')

['Geneva.September2nd', '1935.']

In [32]:
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [38]:
re.compile('\d')

re.compile(r'\d')

In [39]:
re.split('\d', test_month_1, maxsplit=1)

['December', 'th1925.']

In [40]:
re.split('\d', test_month_2, maxsplit=1)

['Geneva.September', 'nd,1935.']

In [42]:
'.' in test_month_1

True

In [49]:
test_month_1 = unidecode(test_month_1)

/Users/johnkeating/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: RuntimeWarning: Argument <type 'str'> is not an unicode object. Passing an encoded string will likely have unexpected results.
  if __name__ == '__main__':

TypeError: expected a character buffer object

In [57]:
re.sub('\d', ' ', test_month_1)

'December th    .'

In [70]:
re.sub('\.', ' ', test_month_2)

'Geneva September2nd,1935 '

In [74]:
re.sub('\,', ' ', test_month_2)

'Geneva.September2nd 1935.'

ValueError: maketrans arguments must have same length

In [75]:
def get_only_words(string):
    string = re.sub('\d', ' ', string)
    string = re.sub('\.', ' ', string)
    string = re.sub('\,', ' ', string)
    return string.split()

In [76]:
get_only_words(test_month_1)

['December', 'th']

In [77]:
get_only_words(test_month_2)

['Geneva', 'September', 'nd']

In [78]:
get_only_words('Leeember22nd,1936.')

['Leeember', 'nd']

In [82]:
def remove_punc_digits(text):
    '''
    this will be replaced with the function below
    '''
    replace_punctuation = maketrans(punctuation, ' '*len(punctuation))
    replace_digits = maketrans(digits, ' '*len(digits))
    text = text.translate(replace_punctuation).translate(replace_digits)
    return text

In [83]:
remove_punc_digits(test_month_1)

'December th     '

In [84]:
remove_punc_digits(test_month_2)

'Geneva September nd      '

In [86]:
months_list = ['january','february','march','april','may','june',
               'july','august','september','october','november','december']

In [87]:
from fuzzywuzzy import process

In [90]:
process.extractOne('Leeember', months_list)

('december', 75)

In [91]:
process.extractOne("'W'December21st,1931.	", months_list)

('december', 90)

In [93]:
process.extractOne("Geneva", months_list)

('june', 45)

In [94]:
process.extractOne("th", months_list)

('march', 45)

In [95]:
process.extractOne("st", months_list)

('august', 90)

In [107]:
list_of_ts = [('december', 75),('december', 90),('june', 45),('march', 45),('august', 90)]

In [109]:
list_of_ts.sort(key=lambda x: x[1], reverse=True)
print list_of_ts

[('december', 90), ('august', 90), ('december', 75), ('june', 45), ('march', 45)]

In [159]:
def find_months(line_list):
    '''
    perhaps I could make this a a function for a single string but that
    seems wasteful because I will be calling the lists and replaces again
    '''
    replace_punctuation = maketrans(punctuation, ' '*len(punctuation))
    replace_digits = maketrans(digits, ' '*len(digits))
    
    months_list = ['january','february','march','april','may','june',
                   'july','august','september','october',
                   'november','december']
    
    main_list = []
    
    for line in line_list:
        
        potential_months = []
        
        line = line.translate(replace_punctuation).translate(replace_digits)
        
        potentials = [ i for i in line.split() if len(i) > 2]
        
        for potential in potentials:
            potential_months.append(process.extractOne(potential, months_list))
        
        if len(potential_months) == 0:
            main_list.append('unknown')
        
        else:
            best = sorted(potential_months, key=lambda x: x[1], reverse=True)[0]
            if best[1] < 50:
                main_list.append('low_probability')
            else:
                main_list.append(best[0])
            
    return main_list

In [160]:
months_probably =  find_months(datelabels_df['line'])

In [161]:
len(months_probably)

10271

In [162]:
len(datelabels_df)

10271

In [163]:
datelabels_df['months_probably'] = months_probably

In [164]:
datelabels_df

,symbol,line,type,months_probably
0,C.476.1930.X,"September6th,1930,",dateline,september
1,C.381.M.125.1925,"June27th,1985",dateline,june
2,C.831.M.412.1931.VII,"November11th,1931.",dateline,november
3,C.107.(1).1925.I,"March11th,1985.",dateline,march
4,C.555.1936.XI,"Leeember22nd,1936.",dateline,december
5,C.429.(1).1934.VII,"September2'/th,1934*",dateline,september
6,C.458.M.174.1924.I,"September4th,1324",dateline,september
7,C.78.M.75.1941.XI,"December3rd,1941.",dateline,december
8,C.74.1930.I,"January15tb,1930,.",dateline,january
9,C.326.1935.II.A,"Geneva.September2nd,1935.",dateline,september
10,C.772.1925,December7th1925.,dateline,december
11,C.330.1926.VI,"June5ths1926,,",dateline,june
12,C.667.M.275.1931.IX,"October5th,1931.",dateline,october
13,C.374.1931.V,September13th,dateline,september
14,C.827.M.409.1931.VII,"November10th,1931.MgUlD6Tbvj.",dateline,november
15,C.250.1926.VI,"Geneve,April?3311926.",dateline,april
16,C.15.1941.X,"Mrch5th,1941.",dateline,march
17,C.722.1923.I,"November28th,1923,",dateline,november
18,C.224.1928.II,"May23rd,1928-",dateline,may
19,C.51.M.21.1936.VII,"January20th,1936.",dateline,january
20,C.534.1932,"July5th,1932.",dateline,july
21,C.168.M.115.1937.VII,"March3rd,1937",dateline,march
22,C.598.1928.XI,"December7th,192PS",dateline,december
23,C.141.1933.I,February18thl933.,dateline,february
24,C.419.M.283.1937.XI,"September23rd,1937.",dateline,september
25,C.723.M.266.1926.II,"December13th,1926.",dateline,december
26,C.260.M.116.1931.VIII,"April24th,1931.",dateline,april
27,C.1.1935,"January5th,1935",dateline,january
28,C.20.M.20.1944.V,"August2nd,1944.",dateline,august
29,C.630.1926,"Ilovember23rd,1926.",dateline,november
...,...,...,...,...
10241,C.453(1).M.178.1924.II,"Septembergth,1924.",dateline,september
10242,C.626.M.206.1925,"Geneva,",dateline,low_probability
10243,C.626.M.206.1925,"October22nd,1925>>",dateline,october
10244,C.603(1).1928.XII,"Lugano,December10th,1928.",dateline,december
10245,C.452.1931.I,"Geneva,",dateline,low_probability
10246,C.452.1931.I,"July23rd,1931.",dateline,july
10247,C.180.M.82.1930.XI,"1p,0yA9,,ic.w.njj",dateline,low_probability
10248,C.180.M.82.1930.XI,"Geneva,",dateline,low_probability
10249,C.106.1927.VII,Geneva,dateline,low_probability
10250,C.645.1924.VII,y1vPS3>>,dateline,low_probability
10251,C.664.1928.VII_ADD,"Lugano,December13th,1928.",dateline,december
10252,C.658.1928.VI,"December12th,1928.",dateline,december
10253,C.9.M.6.1929.XI,OcGo922o,dateline,october
10254,C.9.M.6.1929.XI,"Geneva,,",dateline,low_probability
10255,C.9.M.6.1929.XI,"January16th,19290",dateline,january
10256,C.115.1928.I,Genevaj,dateline,low_probability
10257,C.115.1928.I,"March7th,1928.",dateline,march
10258,C.382.1927.I,"*|August9th,1927.",dateline,august
10259,C.451.1927.V,"Geneva,",dateline,low_probability
10260,C.451.1927.V,"September2nd,1927.",dateline,september
10261,C.507.1926,"GENEVA,September4th,1926.",dateline,september
10262,C.95.1927.I,"March4th,1927.",dateline,march
10263,C.735.1924.V,"cBHiSVA,December31924,",dateline,december
10264,C.92.1928.II,"GENEVA,March5th,1928'.",dateline,march
10265,C.263.1929.X,"June8th,1929.",dateline,june
10266,C.180.1924.II,"Geneva,",dateline,low_probability
10267,C.180.1924.II,"April22nd,1924.",dateline,april
10268,C.472.1924,G<<472.1924.,dateline,unknown
10269,C.838.M.416.1931.VII,"Geneva,",dateline,low_probability
10270,C.838.M.416.1931.VII,"November11th,1931.",dateline,november

In [165]:
sum(datelabels_df['months_probably']=='unknown')

126

In [166]:
sum(datelabels_df['months_probably']=='low_probability')

1230